
[Unit]
Description=livewire-streamer
After=network.target

[Service]
Slice=machine.slice
ExecStart=/bin/bash -c 'dumprtp 239.192.0.202 5004 | avconv -f s24be -ar 48k -ac 2 -i - -f mp3 -b:a 320K - | ezstream -c /etc/ezstream.xml'
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
